<section class="sample-app-content">
  <h1>Template-driven Form Example (with bi-directional data binding):</h1>
  <form #myForm="ngForm" (ngSubmit)="onSubmitTemplateBased(myForm.value)">
    <p>
      <label>First Name:</label>
      <input
        type="text"
        [(ngModel)]="user.firstName"
        required
        minlength="4"
        appForbiddenName="bob"
        [ngModelOptions]="{ standalone: true }"
        #name="ngModel"
      />
    </p>
    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert">
      <div *ngIf="name.errors?.['required']">Name is required.</div>
      <div *ngIf="name.errors?.['minlength']">
        Name must be at least 4 characters long.
      </div>
      <div *ngIf="name.errors?.['forbiddenName']">Name cannot be Bob.</div>
    </div>
    <p>
      <label>Password:</label>
      <input
        type="password"
        [(ngModel)]="user.password"
        required
        [ngModelOptions]="{ standalone: true }"
      />
    </p>
    {{ myForm.value | json }}
    <p>
      <button type="submit" [disabled]="!myForm.valid">Submit</button>
    </p>
  </form>
</section>
